Repository RITlug/ritlug.github.io, pull requests merged in 2019-11, with the labels that each got.

#244 Add week 11 meeting
  announcements/_posts/2019-11-08-w11-bash.md
Labels: announcement

#245 Fix talk about gaming on Linux not displaying
  talks/_posts/2019-11-01-gaming-on-linux.md
Labels: talk

#247 Added halloween event to website (Closes #242)
  announcements/_posts/2019-11-15-w12-kernel-tracing.md
  events/_posts/2019-10-31-gccis-costume-contest.md
  events/assets/2019/10/GCCIS-table1.jpg
  events/assets/2019/10/GCCIS-table2.jpg
Labels: events

#248 Add Solomon government talk
  announcements/_posts/2019-11-22-government.md
Labels: announcement
